absl-py==0.9.0
altgraph==0.16.1
apturl==0.5.2
asn1crypto==0.24.0
astor==0.8.1
astroid==2.2.5
backcall==0.1.0
beautifulsoup4==4.8.0
billiard==3.6.1.0
bleach==3.1.1
blinker==1.4
Brlapi==0.6.6
bs4==0.0.1
cachetools==3.1.0
certifi==2019.9.11
chardet==3.0.4
checkbox-support==0.22
Click==7.0
cmake==3.13.3
coala-utils==0.5.1
command-not-found==0.3
contextlib2==0.5.5
cryptography==2.1.4
cupshelpers==1.0
cycler==0.10.0
Cython==0.29.13
decorator==4.3.0
defer==1.0.6
defusedxml==0.5.0
distro-info===0.18ubuntu0.18.04.1
Django==2.1.7
dlib==19.17.0
ecdsa==0.13.3
entrypoints==0.2.3
enum34==1.1.10
feedparser==5.2.1
Flask==1.1.1
future==0.17.1
gae-sdk-path-fixer==0.0.1
gast==0.2.2
google-api-python-client==1.7.8
google-auth==1.6.3
google-auth-httplib2==0.0.3
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
googleapis-common-protos==1.5.9
grpcio==1.27.2
gTTS==2.0.3
gTTS-token==1.1.3
guacamole==0.9.2
h5py==2.10.0
html5lib==0.9999999
httplib2==0.12.1
idna==2.8
imageio==2.8.0
imbalanced-learn==0.5.0
imblearn==0.0
ipykernel==5.1.0
ipython==7.1.1
ipython-genutils==0.2.0
ipywidgets==7.4.2
isort==4.3.17
itsdangerous==1.1.0
jedi==0.13.1
Jinja2==2.10.3
joblib==0.14.0
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==6.0.0
jupyter-core==4.4.0
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
keyring==10.6.0
keyrings.alt==3.0
kiwisolver==1.1.0
language-selector==0.1
launchpadlib==1.10.6
lazr.restfulclient==0.13.5
lazr.uri==1.0.3
lazy-object-proxy==1.3.1
lime==0.1.1.37
louis==3.5.0
lxml==4.4.1
macaroonbakery==1.1.3
macholib==1.11
Mako==1.0.7
Markdown==3.2.1
MarkupSafe==1.1.1
matplotlib==3.0.2
mccabe==0.6.1
mistune==0.8.4
nbconvert==5.4.0
nbformat==4.4.0
netifaces==0.10.4
networkx==2.4
newsapi==0.1.1
newsapi-python==0.2.3
nltk==3.4.5
nose==1.3.7
notebook==5.7.0
numpy==1.16.4
oauth==1.0.1
oauth2client==4.1.3
oauthlib==3.0.1
object-detection==0.1
olefile==0.45.1
onboard==1.4.1
opencv-python==4.1.0.25
openshot-qt==2.4.1
opt-einsum==3.2.0
padme==1.1.1
pandas==0.23.4
pandocfilters==1.4.2
parso==0.3.1
pefile==2019.4.18
pexpect==4.2.1
pgi==0.0.11.2
pickleshare==0.7.5
Pillow==6.2.1
pipenv==2018.11.26
plainbox==0.25
playsound==1.2.2
prettytable==0.7.2
progressbar==2.5
prometheus-client==0.4.2
prompt-toolkit==2.0.7
protobuf==3.10.0
ptyprocess==0.6.0
pyasn1==0.4.5
pyasn1-modules==0.2.4
PyAudio==0.2.11
pycairo==1.18.0
pycocotools==2.0.0
pycrypto==2.6.1
pycups==1.9.73
pycurl==7.43.0.1
PyDrive==1.3.1
Pygments==2.2.0
pygobject==3.26.1
PyInstaller==3.4
PyJWT==1.5.3
pylint==2.3.1
pymacaroons==0.13.0
PyNaCl==1.1.2
PyouPlay==0.2.0
pyparsing==2.4.6
PyQt5==5.12.1
PyQt5-sip==4.19.15
pyRFC3339==1.0
python-apt==1.6.5+ubuntu0.2
python-dateutil==2.8.1
python-debian==0.1.32
pytz==2018.9
PyWavelets==1.1.1
pyxdg==0.25
PyYAML==5.1
pyzmq==17.1.2
qtconsole==4.4.2
reportlab==3.4.0
requests==2.22.0
requests-oauthlib==1.2.0
requests-unixsocket==0.1.5
rsa==4.0
ruamel.yaml==0.15.94
scikit-image==0.16.2
scikit-learn==0.21.3
scipy==1.4.1
scour==0.36
screen-resolution-extra==0.0.0
seaborn==0.9.0
SecretStorage==2.3.1
Send2Trash==1.5.0
simplejson==3.13.2
six==1.14.0
sklearn==0.0
slim==0.1
soupsieve==1.9.3
SpeechRecognition==3.8.1
system-service==0.3
systemd-python==234
tcav==0.2.1
tensorboard==1.12.2
tensorflow==1.15.0
tensorflow-estimator==1.15.1
tensorflow-tensorboard==0.4.0
termcolor==1.1.0
terminado==0.8.1
testpath==0.4.2
tf-explain==0.2.1
tornado==5.1.1
traitlets==4.3.2
twitterscraper==1.3.1
typed-ast==1.3.5
ubuntu-drivers-common==0.0.0
ufw==0.35
unattended-upgrades==0.1
unity-scope-calculator==0.1
unity-scope-chromiumbookmarks==0.1
unity-scope-colourlovers==0.1
unity-scope-devhelp==0.1
unity-scope-firefoxbookmarks==0.1
unity-scope-manpages==0.1
unity-scope-openclipart==0.1
unity-scope-texdoc==0.1
unity-scope-tomboy==0.1
unity-scope-virtualbox==0.1
unity-scope-yelp==0.1
unity-scope-zotero==0.1
uritemplate==3.0.0
urllib3==1.25.6
usb-creator==0.3.3
vext==0.7.3
vext.gi==0.7.0
virtualenv==15.1.0
virtualenv-clone==0.5.3
wadllib==1.3.2
wcwidth==0.1.7
webencodings==0.5
Werkzeug==1.0.0
wfdb==2.2.1
widgetsnbextension==3.4.2
Wikipedia-API==0.5.1
wrapt==1.12.1
xdiagnose==3.8.8
xgboost==0.90
xkit==0.0.0
XlsxWriter==0.9.6
zope.interface==4.3.2
